
/* Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Utilities */
*{
    margin: auto;
    box-sizing: border-box;
    font-family: "poppins";
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Card Styling */

.card{
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.img-con{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    border: 0.5px solid rgb(39, 39, 39);
}
.card .img-con img{
    width: 170px;
    border-radius: 10px;
}
.card::-webkit-scrollbar{
    display: none;
}




/* Card  body */

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 110px;
    right: 0;
    left: 0;
    padding-top: 20px;
}
.card-body h1{
    font-weight: 500;
    font-size: 2.0em;
    line-height:1.2 ;
    color: green;
}
.card-body p{
    font-weight: 400;
    font-size: 1.2em;
    color: green;
}
.skill-con{
    display: flex;
}

.social-icons{
    display: flex;
    justify-content: center;
    margin-top:10px ;
}
.social-icons a {
    display: flex;
    align-items: center;
    padding: 7px;
    margin: 5px;
    border-radius:30px ;
}
.social-icons a>img{
    width: 50px;
    height: 50px;
}

/* Card body buttons */

.card-body .btn-con{
    display: flex;
    flex-direction: row;
}
.card-body .btn-con a{
    font-size:1.1em ;
    cursor: pointer;
    margin:20px 15px;
}
.card-body .btn-con .dark-btn{
    border: none;
    padding: 10px 35px;
}
.card-body .btn-con .light-btn{
    border: none;
    padding: 10px 35px;
}
